body
{
  background-image:url("racunalo.jpg");
  background-position-y: top;
  /*ovo mi služi za postavljanje slike, a zadnje da se slika ne ponavlja hiljadu put po stranici*/
  background-position-x: right;
  backgrund-repeat: no repeat;
  text-align: justify;
  
}
p
{ 
  font-family: Verdana,Helvetica,sans-serif;
  font size:12px;
}
p.citat
{
  font-style: italic;
  font-size: 11px;
  border:1px solid #000;
  background-color: #ffffcc;
}
p.drugi
{
  color: FireBrick;
  text-align: center;
  text-decoration: underline;
  border-width: thin;
  border-style: solid;
  border-left-color:white;
  border-right-color:black;
  border-botton-color:black;
  border-top-color:black;
  
}
p.treći
{
  text-align: right;
  border-style: insert;
  border-width:thick;
  border-color:green;
  padding: 15px;
}
